<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Edward Hopper Works</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Edward Hopper Gallery</h1>
    <div class ="home-about"> 
      <a href="/home">Back to Home</a>
      </div>
    <div class ="gallery">
      <a target ="_blank" href="/image/nightwalks.jpeg">
        <img src="/image/nightwalks.jpeg" alt="nighthawks" width="500" height="350">
      </a>
      <div class="desc"><b>Nighthawks(1942)</b>
        <p>Nighthawks is a 1942 oil on canvas painting by Edward Hopper that portrays four people in a downtown diner late at night as viewed through the diner's large glass window. The light coming from the diner illuminates a darkened and deserted urban streetscape.</p>
      </div>
</div>
<div class ="gallery">
      <a target ="_blank" href="/image/roominNY.jpeg">
        <img src="/image/roominNY.jpeg" alt="roominNY" width="500" height="350">
      </a>
      <div class="desc"><b>Room in New York(1932)</b>
        <p>Room in New York is a 1932 oil on canvas painting by Edward Hopper that portrays two individuals in a New York City flat. It is currently in the collection of the Sheldon Museum of Art.</p>
      </div>
    </div>

    <div class ="gallery">
      <a target ="_blank" href="/image/morning_sun.jpg">
        <img src="/image/morning_sun.jpg" alt="morningsun" width="500" height="350">
      </a>
      <div class="desc"><b>Morning Sun(1952)</b>
        <p>Morning Sun is a painting by American artist Edward Hopper, completed in 1952. The painting features Hopper's wife Jo sitting in a white slip on a bed, facing an open window. Hopper was known for depicting everyday life in the US, often depicting industrialized urban landscapes and alienated people.</p>
      </div>
    </div>

    <div class ="gallery">
      <a target ="_blank" href="/image/gas.jpg">
        <img src="/image/gas.jpg" alt="gas" width="500" height="350">
      </a>
      <div class="desc"><b>Gas (1940)</b>
        <p>Gas is a 1940 oil painting by the American painter Edward Hopper. It depicts an American gas station at the end of a highway.</p>
      </div>
</div>

<div class ="gallery"> 
      <a target ="_blank" href="/image/automat.jpeg"> 
        <img src="/image/automat.jpeg" alt="automat" width="500" height="350">
      </a>
      <div class="desc"><b>Automat(1927)</b>
        <p>Automat is a 1927 oil painting by the American realist painter Edward Hopper. The painting was first displayed on Valentine's Day 1927 at the opening of Hopper's second solo show, at the Rehn Galleries in New York City. By April it had been sold for $1,200.</p>
      </div>
    </div>

    <div class ="gallery"> 
      <a target ="_blank" href="/image/window.webp">
        <img src="/image/window.webp" alt="window" width="500" height="350">
      </a>
      <div class="desc"><b>Cape Cod Morning(1950)</b>
      <p>In Cape Cod Morning, a woman looks out, tempted to the window by the morning sun, narrowing her eyes against the bright light. It is a moment of boundless expectation. But it has been depicted by a man who knew what afternoon and evening would bring, who knew that expectations this great were bound to be disappointed.</p>
    </div>
    </div>
    </div>
    <div class ="home-about"> 
    <a href="/home">Back to Home</a>
    </div>
  </body>
</html>